{% extends "base.html" %}

{% block title %}
Герои Пушкина
{% endblock %}

{% block content %}
<div id="main">
    <div class="decor">
        <div class="test"></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="182" height="189" viewBox="0 0 182 189" fill="none">
            <ellipse cx="90.8221" cy="93.9562" rx="90.8221" ry="93.9562" transform="matrix(-0.971598 0.236639 -0.220243 -0.975445 200.132 164.879)" fill="url(#paint0_linear_95_13)" fill-opacity="0.25"/>
            <defs>
            <linearGradient id="paint0_linear_95_13" x1="90.8221" y1="3.11475e-06" x2="200.19" y2="275.744" gradientUnits="userSpaceOnUse">
            <stop stop-color="#92A8CA"/>
            <stop offset="1" stop-color="#92CAC3"/>
            </linearGradient>
            </defs>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="133" height="139" viewBox="0 0 133 139" fill="none">
            <ellipse cx="66.3221" cy="68.6107" rx="66.3221" ry="68.6107" transform="matrix(-0.971598 0.236639 -0.220243 -0.975445 146.099 120.852)" fill="url(#paint0_linear_95_15)" fill-opacity="0.27"/>
            <defs>
            <linearGradient id="paint0_linear_95_15" x1="66.3221" y1="0" x2="154.721" y2="173.865" gradientUnits="userSpaceOnUse">
            <stop stop-color="#92A8CA"/>
            <stop offset="1" stop-color="#92CAC3"/>
            </linearGradient>
            </defs>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="99" height="102" viewBox="0 0 99 102" fill="none">
            <ellipse cx="48.8276" cy="50.5126" rx="48.8276" ry="50.5126" transform="matrix(-0.971598 0.236639 -0.220243 -0.975445 108.076 88.9137)" fill="url(#paint0_linear_95_14)" fill-opacity="0.27"/>
            <defs>
              <linearGradient id="paint0_linear_95_14" x1="48.8276" y1="2.35401e-06" x2="131.48" y2="209.59" gradientUnits="userSpaceOnUse">
                <stop stop-color="#92CAC3"/>
                <stop offset="1" stop-color="#92A8CA" stop-opacity="0"/>
              </linearGradient>
            </defs>
          </svg>
    </div>
    <div class="header">Александр Сергеевич Пушкин</div>
    <div  class="text">Выдающийся русский поэт и прозаик, один из основателей русской литературы XIX века. Его произведения отличаются глубоким психологизмом и проникновенностью. Литературные герои Пушкина являются яркими и запоминающимися персонажами, каждый из которых отражает определенные черты русской национальной души. Они погружают читателя в мир страстей, любви, предательства и искренности, заставляя переживать судьбы героев настолько, что они становятся близкими и понятными.</div>
    <div class="pushkin-frame">
        <div class="container">
            <div class="Hashtag">#НАШЕВСЁ</div>
            <div class="circle"></div>
            <img class="pushkin" src="/media/images/pushkin.png">
        </div>
    </div>
</div>
{% endblock %}